header{padding: 10px;
   background-color: white;
   top: 0;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    position: fixed;
}

*{
    font-family: system-ui, -apple-system;
    font-size: 14px;
    padding: 1;
    margin: 1;
}

/* ////////////////////////////////////////// */



.tablist {
  background-color: white;
    border: 1px solid rgb(120, 116, 116);
    top: 100px;
    position: fixed;
    margin-left: 55px;
    width: 91%;
    /* padding-left:40px;
    padding-right: 40px; */
}





.tab ul {
    background-color: white;
    /* padding-left: 40px;
    padding-right: 40px; */
    /* border: 1px solid rgb(172, 10, 10); */
    white-space: nowrap;
    display: flex;
    gap: 20px;
    overflow: auto;
}

.tab ul::-webkit-scrollbar {
    display: none;

}

.tab li {
    /* borde
r: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    height: 10px;
        background-color: white;
    color: rgb(92, 90, 90);
}



/* ///////////////////// grid/////////////////////////// */



/* //////////////////////////////////////////// */

