:root {
    --border: 1px solid black;
    --white: #ffffff;
}









header{
    padding: 10px;
   background-color: white;
   top: 0;
    height: 70px;
    width: 100%;
    border-bottom: 3px solid #dfdfdf;
    position: fixed;
}

*{
    font-family: system-ui, -apple-system;
    font-size: 14px;
    padding: 1;
    margin: 1;
}

/* /////////////////barre de navigation//////////////////////// */

.search-bar {
box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: auto 150px;
    width:520px;
    padding: 5px;
}

.search-bar input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
}

.search-bar button {
    /*   transform: rotate(180deg) */
    background-color: #ff385c;
    color: #fff;
    border: none;
    border-radius: 100px;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #d33054;
}


button{
 display: flex; 
 border-radius: 40px; 
 gap: 15px; 
 padding: 6px; 
 align-items: center;  
 border: 1px solid black ; 
 background-color: rgb(239, 239, 239); 
 color: #fff; 
 border: none;  
 cursor: pointer; 
}



/* //////////////////////////////////////////////////////////// */

.tablist {
  background-color: white;
box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    /* border: 1px solid rgb(120, 116, 116); */
    top: 91px;
    position: fixed;
    margin-left: 0px;
    width: 99%;

}





.tab ul {
    background-color: white;
    /* padding-left: 40px;
    padding-right: 40px; */
    /* border: 1px solid rgb(172, 10, 10); */
    white-space: nowrap;
    display: flex;
    gap: 20px;
    overflow: auto;
}

.tab ul::-webkit-scrollbar {
    display: none;

}

.tab li {
    /* borde
r: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    height: 10px;
        background-color: white;
    color: rgb(92, 90, 90);
}



/* ///////////////////// grid/////////////////////////// */







/* 12. footer  */

/* footer global paramettre */
footer{
    font-family: system-ui, -apple-system;
    background-color: #f7f7f7;
    height: 50rem;
    width: 100%;
}
/* paramettre de bloc assistant , Accueil de voyageurs , Airbnb*/
.footer__section {
    font-weight: 300;
    margin-left: 1rem;
    display: flex;
    gap: 12rem;
}
.footer__section {
    line-height: 2.5rem;
}

.footer__section--section-1 ul,
.footer__section--section-2 ul,
.footer__section--section-3 ul {
    margin-top: -0.8rem;  
    /* espacement entre les h2 et les ul */
    color: #222222;
    list-style: none;
}  


.footer__section--section-1 h2,
.footer__section--section-2 h2,
.footer__section--section-3 h2{
color: #222222;
margin-left: 2.8rem;
}

/* ///////////////////////////// */


/* footer__section0 */

.footer__section0{
    padding: 4rem;
}

.footer__section0 h2 {
    font-size: 22px;
    font-weight: 600;
}


.footer__section0 ul {
color: #717171;
margin: 3rem -2.7rem;
display: flex;
gap: 4rem;
list-style: none;
}

/* .footer__section0 li:focus{
border-bottom: 1px solid black;
} */

/* (bloc 4) footer__section--section-4*/


.footer__section--section-4 {
    /* border: var(--border); */
    margin-top: 0.8rem;
    margin-left: 2.5rem;
    display: flex;
    gap: 2rem;
}

.footer__section--section-4--ul ul {
    list-style: none;
    font-weight: 300;
    display: flex;
        gap: 1rem;
        margin-top: -0.02rem;
}

/*  (bloc 5) section  footer__section--section--5--span  */

.footer__section--section-5--span{

/* border: var(--border); */
display: flex;
gap: 1rem;
margin-left: 10rem;
}

.souligner-footer hr{
    border: 0.5px solid #e1e1e1;
    width: 90%;
}